
body {
    background: url("./img/aSpendingBkg.png") no-repeat fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 500px;
    z-index: 2;
}

.budgetSection {
    background:  rgba(7, 0, 0, 0.7);
    color: white;
    margin: 5%;
    padding: 5%;
}


footer {
    background:  rgba(7, 0, 0, 0.7);
    margin: 5%;
    padding: 5%;
    color: white;
}
.nav_sect {
    background-color: red;
    padding: 10px;
}

.nav_sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav_sect li {
    margin: 0;
}

.nav_sect a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav_sect a:hover {
    color: white;
}

.output {
    margin: 10px;
}

h2, h3 {
    color: white;
}

form {
    margin-bottom: 20px;
    width: 10%;
}

label, input {
    color: white;
    display: block;
    margin-bottom: 10px;
}

input[type="number"], input[type="text"] {
    /*background-color: black;*/
    border: 1px solid red;
    border-radius: 10px;
    color: black;
    padding: 5px;
    width: 87%;
}

input[type="submit"] {
    background-color: red;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: black;
    color: red;
    border: 1px solid red;
    
}

#expenseList, #incomeList {
    list-style-type: none;
    padding: 0;
    
}

#expenseList li, #incomeList li {
    background-color: black;
    border: 1px solid red;
    margin-bottom: 5px;
    padding: 10px;
}

#totalExpenses, #totalIncomes, #weeklyTotal {
    color: red;
    font-weight: bold;
}

