* {
    color: black;
}
body {
    background: url("./img/aSpendingBkg.png") no-repeat fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 500px;
    z-index: 2;
    padding: 20px; 
}

.budgetSection {
    background:  rgba(7, 0, 0, 0.7);
    color: white;
    margin: 5%;
    padding: 5%;
}

.container { max-width: 500px; 
    margin: auto; }

.summarySection {
    background:  rgba(7, 0, 0, 0.7);
    color: white;
    margin: 5%;
    padding: 5%;
}


footer {
    background:  rgba(7, 0, 0, 0.7);
    margin: 5%;
    padding: 5%;
    color: white;
}

.nav_sect {
    background-color: #A5A5A5;
    padding: 10px;
}

.nav_sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav_sect li {
    margin: 0;
}

.expenses_section {
    display: flex;
}

.income_section {
    display: flex;
}

.nav_sect a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav_sect a:hover {
    color: white;
}

.output {
    margin: 10px;
    height: auto;
}

h2, h3 {
    color: white;
}

form {
    margin-bottom: 20px;
    width: 50%;
}

label, input {
    color: white;
    display: block;
    margin-bottom: 10px;
}

input[type="number"], input[type="text"] {
    /*background-color: black;*/
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    color: black;
    padding: 5px;
    width: 87%;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

input {
    /*background-color: black;*/
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    color: black;
    padding: 5px;
    width: 87%;
}

input[type="submit"] {
    background-color: #BFBFBF;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}
.submit {
    border-radius: 10px;
    margin-top: 8px; 
    padding: 10px; 
    width: 100%;
}

input[type="submit"]:hover {
    background-color: black;
    color: #BFBFBF;
    border: 1px solid r#BFBFBF;   
}

#expenseList, #incomeList, #noteList {
    list-style-type: none;
    padding: 0;
    border-radius: 5%;
}


#expenseList li, #incomeList li, #noteList li {
    background-color: black;
    border: 1px solid #BFBFBF;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    
}
li { 
    background-color: black;
    border: 1px solid #BFBFBF;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    color: white; 
}

.expensesListContainer {
    overflow: auto;
    height: 300px;
}

#totalExpenses, #totalIncomes, #weeklyTotal {
    color: #BFBFBF;
    font-weight: bold;
}

h1 {
    padding: 3%;
}



.btn_add {
    outline: none;
    border: none;
    background: #8e44ad;
    color: #fff;
    padding: 0.6rem 2rem;
    margin-bottom: 8rem 0;
    font-family: inherit;
    border-radius: 30px;
    font-size: 1 rem;
    cursor: pointer;
    
}

.main {
    padding: 20px;
    background: #fff;
}

.hidden {
    display: none;
} 

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.inputText {
    color: black;
}

.lists {
    color: white;
    display: block; 
    width: 100%; 
    margin: 5px 0; 
    padding: 8px;
}

